.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 16px;
}

.product-item {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
}

.product-item:hover {
    background-color: rgb(223, 223, 223);
}

.product-title {
    font-size: 20px;
    font-weight: bold;
}

.product-price {
    font-size: 18px;
    font-weight: bold;
}

.product-image-container {
    display: flex;
    justify-content: center;
    aspect-ratio: 1/1;
    max-height: 200px;
    width: 100%;
}

.product-image {
    max-width: 100%;
    margin-bottom: 10px;
}

.add-to-cart-btn {
    padding: 2px 4px !important;
    line-height: 16px !important;

    svg{
        width: 20px;
    }
}